@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pizza;

@{
    Layout = "_Layout";
}

           <form asp-controller="PizzaList" asp-action="create" method="post">

                <div >
                    <strong>Immagine:</strong>
                    <input asp-for="ImageAddress" />
                    <span asp-validation-for="ImageAddress" class="text-danger" ></span>
                </div>
                <div>
                    <strong>nome:</strong>
                    <input asp-for="Name"  />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                                <div>
                    <strong>prezzo:</strong>
                    <input type="number" asp-for="Price"  />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div >
                    <strong>Contenuto:</strong>
                    <textarea asp-for="Description" rows="10" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Reggistrati">
                </div>

            </form>