@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model Pizza

<div style="display:flex; height:50%">
    <div style="width:50%;" >
        <img src="@Model.ImageAddress" style=""/>
    </div>

    <div style="width:50%;" >
        <h1 style="text-align:center" > @Model.Name </h1>
        <p> prezzo: @Model.Price </p>
        <p> @Model.Description  </p>
    </div>

</div>
